.navbar{
    .SearchInput{
        margin-left:250px ;
        height: 30px;
        width: 40%;
    }
    .bgcolor{
        background-color: darkorange;
        padding: 8px;
        margin: -4px 6px;
    }
}